{% extends "catalog/base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>비밀번호가 일치하지 않습니다. 다시 입력해주십시오</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>권한이 없는 접근입니다..</p>
    {% else %}
    <p>이 페이지를 보려면 로그인 하십시오 </p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}